.team-wrapper {
    background-color: rgb(251, 251, 251);
    padding-top: 140px;
}

.team-content-slider-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    width: 100%;
    margin: 120px auto 0;
    padding-bottom: 170px;
    transition: transform 200ms;
}

.team-content {
    position: relative;
    max-width: 360px;
    width: 100%;
}

.team-content-img img {
    max-width: 360px;
    width: 100%;
}

.team-content-name {
    max-width: 262px;
    width: 100%;
    border-radius: 2px;
    box-shadow: 1px 5.9px 16px 0 rgba(20, 20, 21, 0.08);
    background-color: rgb(255, 255, 255);
    font-family: "Open Sans";
    line-height: 1.53;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: -19px;
    left: 50%;
    transform: translateX(-50%);
    padding: 21px 0 19px;
    z-index: 5;
    transition: bottom 200ms;
}

.team-content-name.name-onclick {
    bottom: 4px;
    background-color: transparent;
    box-shadow: none;
}

.team-active-social.social-onclick {
    display: block;
}

.team-active.active-onclick {
    opacity: 1;
}

.team-content-name-title {
    font-size: 30px;
    font-weight: 600;
}

.team-content-name-subtitle {
    font-size: 15px;
    font-weight: 300;
}

.team-content-click {
    display: block;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 200ms;
}

.team-content-click button {
    width: 150px;
    border-radius: 27px;
    box-shadow: 1.9px 10.8px 20px 0 rgba(20, 20, 21, 0.07);
    border: solid 1px rgba(1, 2, 2, 0.07);
    background-color: rgb(255, 110, 71, 0.7);
    padding: 10px 0;
    color: rgb(255, 255, 255);
    font-family: "Open Sans";
    font-size: 16px;
}

.team-active-social {
    display: none;
}

.team-active-social i {
    color: rgb(0, 0, 0, 0.5);
    cursor: pointer; 
}

.team-active-social i:not(:last-child) {
    padding-right: 10px;
}

.team-active-social i:hover {
    color: rgb(255, 92, 54);
}

.team-active {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to top, rgb(255, 243, 240) 50%, transparent);
    opacity: 0;
    transition: opacity 200ms;
}

.team-active-skills-wrapper {
    max-width: 152px;
    width: 100%;
    margin: 160px auto 0;
}

.team-active-skill {
    font-family: "Open Sans";
    font-size: 10.5px;
    line-height: 1.86;
    text-align: center;
    color: rgb(0, 0, 0);
}

.team-active-skill-level {
    width: 151px;
    height: 4px;
    border-radius: 1.5px;
    display: inline-block;
}

.team-active-skill-level:first-of-type {
    background-image: linear-gradient(to right, rgb(255, 92, 54) 80%, rgb(129, 127, 126) 80%); 
}

.team-active-skill-level:nth-of-type(2) {
    background-image: linear-gradient(to right, rgb(255, 92, 54) 60%, rgb(129, 127, 126) 60%);
}

.team-active-skill-level:last-of-type {
    background-image: linear-gradient(to right, rgb(255, 92, 54) 70%, rgb(129, 127, 126) 70%);
}

.team-content-button {
    display: none;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .team-wrapper {
        padding: 40px 0 0.5px;
    }
    .team-wrapper .title-wrapper .title {
        max-width: calc(100% - 40px);
        width: 100%;
        margin: 0 auto;
        font-size: 12vw;
        text-align: center;
    }
    .team-wrapper .title-wrapper .title span {
        display: block;
    }
    .team-wrapper .title-wrapper .subtitle {
        max-width: calc(100% - 40px);
        font-size: 5vw;
        text-align: center;
    }
    .team-content-wrapper{
        padding: 0;
        margin: 40px auto 50px;
        position: relative;
        overflow: hidden;
    }
    .team-content-slider-wrapper {
        padding: 0;
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
    .team-content {
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
        flex: 0 0 100%;
        text-align: center;  
    }
    .team-content-button {
        width: 48px;
        height: 48px;
        box-shadow: inset 0px 0px 5px 0px rgba(20, 20, 21, 0.5);
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        z-index: 99;
        transform: translateY(-50%);
    }
    .team-content-button.left {
        left: 5px;
    }
    
    .team-content-button.right {
        right: 5px;
    }
}